/* font-family: 'GoodGirl', sans-serif; */

body{
    background-color: black;
}

header{
    background-color: red;
}

h1{
    color:white;
    font-family: 'GoodGirl', sans-serif;
    font-size: 8vw;
}

h2{
    color:white;
    font-size: 3vw;
}

img{
    width:98%
}

article{
    width: 20%;
}

form{
    width: 13%;
    margin: auto;

}