<!DOCTYPE html>
<html>
<%- include('../layout/head') %>

<body>
  <%- include('../layout/header')  %>
  <div class="container">
    <%- include('../layout/movie') %>
  </div>
  <script src="server.js"></script>
</body>

</html>